<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link th:href="@{/css/styles.css}"
          href="../static/css/styles.css" rel="stylesheet" />

</head>
<body>

<!-- 네비게이션바 & 헤더 -->
<div th:insert="~{navbarheader :: navbarFragment}"></div>

<link th:href="@{/css/styles.css}"
      href="../static/css/styles.css" rel="stylesheet" />

<h1>
    계정정보

</h1>
<p th:text="${member.id}"></p>
<p th:text="${member.name}"></p>
<p th:text="${member.email}"></p>


<!-- Footer -->
<footer th:insert="~{footer :: footerFragment}"></footer>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>