<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link th:href="@{/css/styles.css}"
          href="../static/css/styles.css" rel="stylesheet" />

</head>
<body>

<!-- 네비게이션바 & 헤더 -->
<div th:insert="~{navbarheader :: navbarFragment}"></div>

<section class="container-fluid" style="min-height: 45vh">
    <section class="row justify-content-center mt-5">
        <section class="col-12 col-sm-6 col-md-4" >

            <form class="form-container " action="/member/signup" method="post">
                <div class="form-group">
                    <h4 class="text-center font-weight-bold"> 회원가입 </h4>

                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email"  placeholder="Enter E-mail" required>
                </div>

                <div class="form-group mt-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>

                <div class="form-group mt-3">
                    <label for="name">이름</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block  mt-4">회원가입</button>

                <div class="form-footer mt-2">
                    <p> 계정이 있으신가요? <a href="/member/signin">로그인</a></p>
                </div>

            </form>
        </section>
    </section>
</section>

<!-- Footer -->
<footer th:insert="~{footer :: footerFragment}"></footer>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>