<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>제품등록</title>
    <link th:href="@{/css/styles.css}"
          href="../static/css/styles.css" rel="stylesheet" />

</head>
<body>

<!-- 네비게이션바 & 헤더 -->
<div th:insert="~{navbarheader :: navbarFragment}"></div>

<section class="container-fluid"  style="min-height: 45vh">
    <section class="row justify-content-center mt-5">
        <section class="col-12 col-sm-6 col-md-4" >

            <form class="form-container" action="/product/add" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <h4 class="text-center font-weight-bold"> 제품 등록 </h4>
                    <label for="name">이름</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>

                <div class="form-group mt-3">
                    <label for="price">가격</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="Price" required>
                </div>

                <div class="form-group mt-3">
                    <label for="quantity">수량</label>
                    <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Quantity" required>
                </div>

                <div class="form-group mt-3">
                    <label for="content">설명</label>
                    <input type="text" class="form-control" id="content" name="content" placeholder="Content">
                </div>

                <div class="form-group mt-3">
                    <label for="file">이미지</label>
                    <input class="form-control" type="file" id="file" name="file">
                </div>

                <button type="submit" class="btn btn-primary btn-block  mt-4 mb-5">제품 등록</button>

            </form>
        </section>
    </section>
</section>

<!-- Footer -->
<footer th:insert="~{footer :: footerFragment}"></footer>

<script th:src="@{/js/bootstrap.min.js}"></script>


</body>
</html>