<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

<h1>
    쇼핑몰
</h1>

<hr>
<p th:text="${session.signinEmail}">로그인 안됨</p>
<a href="/member/signup">회원가입</a>
<a href="/member/signin">로그인</a>
<hr>
<a href="/product/add">제품등록</a>
<hr>

제품목록
<table>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>가격</th>
        <th>수량</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
    </tr>
</table>

</body>
</html>